 <form name="edit" action="/blogs/<%=params[:id]%>" method="POST">
 <div = content>
    Let's hear your story:
    <br><br>
    <label for="blog_title">
      Blog title:
    </label>
    <input name="blog_title" placeholder="name" id="blog_title">
    <br></br>
    <label for="topic">
      Topic:
  <SELECT NAME="Topic" SIZE="1">
    <OPTION SELECTED>Savings
    <OPTION>Debt Reduction
    <OPTION>Helpful Resources
</SELECT>
<br></br>
    <label for "blog_post">Blog post:
    <input name="blog_post" type="textarea" style="width:250px;height:150px;">
    </input>
    <input type="submit" value="Submit">
    <br></br>

  </div>
</form>
