
<form name="blogs" action="/blogs" method="POST">

    <% @blogs.each do |blog| %>
     <%= blog["blog_title"] %>
     <%= blog["topic"] %>
     <%= blog["blog_post"] %>
    <% @response %>
     <br></br>
    <% end %>
  </form>




