
<form name="contact" action="/contact" method="POST">
<div align="center">

Name:
<!-- add buttons for interests -->
Questions:<br><br>

<textarea cols="40" rows="5" name="question">

</textarea>
<br><br>
 <input type="submit" value="Submit">
</div>
</form>
