
<form name="contact" action="/contact" method="POST">
  <div align="center">

    Name:
    <INPUT TYPE="text" NAME="name" SIZE="30"> </input>
    <br></br>
    Concerns:
    <textarea cols="40" rows="5" name="concern">
    </textarea>
    <br><br>
    <input type="submit" value="Submit">
  </div>
</form>
