
<form name="contact" action="/contact" method="POST">
  <div align="center">

    Name:
    <input name="name" placeholder="name" id="name">
    <br></br>
    Concerns:
    <textarea cols="40" rows="5" name="concern">
    </textarea>
    <br><br>
    <input type="submit" value="Submit">
  </div>
</form>
