
  <div id="navigation" class="inline">
    <ul>
      <li><a href="/blogs">blog</a></li>
      <li><a href="/blogs/new">add new</a></li>
      <li><a href="/articles">articles</a></li>
      <li><a href="/sign_up">sign up</a></li>
      <li><a href="/rss">rss</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
  </div>


