
  <div id="navigation">
    <ul>
      <li><a href="/blogs">blog</a></li>
      <li><a href="/articles">articles</a></li>
      <li><a href="/create_profile">sign up</a></li>
      <li><a href="/tips">tip</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
  </div>


