<!doctype html>

<html>
  <div id ="head">
  <link rel="canonical" href="http://domain.tld/posts/post-id" />
  <link rel="alternate" type="application/rss+xml" title="Post Title" href="/rss/post-id" />
  <link rel="alternate" type="application/activitystream+json" title="Post Title" href="/as/blog-post-id" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all"> -->
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <!-- <link href="/stylesheets/reset.css"
    rel="stylesheet" type="text/css" media="all"> -->

    <meta charset="utf-8">

      <title>project_one_app</title>
        <header>
         <h1> <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
          <h1>cookies&C.R.E.A.M.</h1>

         <h2>personal finance for the masses</h2>
       </header>
  </div>
  </head>
<navigation></navigation>
    <body>

      <!-- <div id ="container">
      TIPS
    </div> -->



      <%= yield %>





    </body>
      <div id="footer">
        <h2><a href = "/">home</h2>
        <a href="https://github.com/ja9harper">Copyright © JAH Websites 2014</a>
      </div>
</html>
