<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
    <title>project_one_app</title>
    <h1> cookies&C.R.E.A.M.</h1>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  </head>

  <body>



    <%= yield %>




  </body>
  <div id="footer">
        <h2><a href = "/">home</h2> Copyright © JAH Websites 2014
      </div>
</html>
