<form name="add user" action"/sign_up" method="POST"
 <div align="center">

   Name: <INPUT TYPE="text" NAME="name" SIZE="30"></input>
    <br></br>
    E-mail
    <INPUT TYPE="text" NAME="email" SIZE="30"> </input>
    <br></br>
</form>

