html {
  background: url(http://images.quicken.intuit.com/iqcms/marketing/lib/images/Personal%20Finance%20Planning%20Creating%20and%20Protecting%20an%20Emergency%20Fund.jpg)
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Playfair Display;
}

}
header
{
  height: 50px;
  margin-bottom: 1em;
  border-bottom: 1px solid #999;

}

gutter
{
  float: left;
  width: 3%;
  height: 1px;
}

col1
{
  float: left;
  width: 44%;
  margin-bottom: 1em;
  border-right: 1px solid #999;
  padding-right: 3%;
}

col2
{
  float: left;
  width: 19%;
  margin-left: 3%;
  margin-bottom: 1em;
  border-right: 1px solid #999;
  padding-right: 3%;
}

col3
{
  float: left;
  width: 19%;
  margin-left: 3%;
  margin-bottom: 1em;
}

footer
{
  clear: both;
  height: 50px;
  border-top: 1px solid #999;
  padding: .5em;
  text-align: right;
}

h1
{
  margin: 0;
  padding: 0;
}

h2 { margin-top: 0; }
